@page
@model JB.Buttons.Pages.ButtonsModel
@{
    ViewData["Title"] = "Buttons";
}

<h1>Buttons</h1>

<table>
    <tr>
        <td>
            <input type="submit" name="btn-good" value="Good" class="btn btn-primary" />
        </td>
        <td>
            <input type="submit" name="btn-bad" value="Bad" class="btn btn-primary" />
        </td>
    </tr>
</table>